ion-content.background {
  height: 100%;
  background-image: url("../../../assets/img/44.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  font-family: "kiona";
  margin: 20px;
}

.slide {
  font-weight: bold;
  text-align: center;
  font-size: 34px;
  color: white;
}

ion-slides {
  height: 100%;
}
ion-slide {
  height: 95%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}
ion-button {
  width: 70%;
  text-align: center;
  background-color: transparent;
}
b {
  font-weight: 530;
}

p {
  padding: 0 40px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  text-align: center;
}

h2 {
  color: white;
}
